<!--<p>karibu katika kazi yangu madam</p>

 Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-danger " style="height: 90px;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
         <img
            src="../../assets/zanziar 2.jfif"
            height="50"
            alt="HISTORICAL"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  routerLink="" style="color: aliceblue;" ><b>Dashboard</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#" style="color: aliceblue;" ><b>service</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#" style="color: aliceblue;" ><b>contact us</b></a>
          </li>
        </ul>
        <a routerLink="" ><button class=" btn btn-primary ">Log out</button></a>
        <!-- Left links -->
      </div>
     
     
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  <div class="container mt-5 " style="text-align: center;color: blue; font-size: 300%;">
    <p><b>WELCOME IN  ZANZIBAR HOTEL</b> </p></div>

  <div class="row">


    <div class="col-md-4 mt-5 ">
     
    
        <img src="../../assets/zanzibar 3.jfif" style="width: 100%;height: 400px;"><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quam dicta consectetur blanditiis officiis sit iure. Eius id illum,
           tempora earum, aspernatur alias, aperiam possimus quidem quam ullam eligendi culpa?
        </p>
      <a routerLink="/index"><button type="button">BOOKING</button></a>
    </div>
    <div class="col-md-4 mt-5">
    <img src="../../assets/zanzibar.jfif" style="width: 100%;height: 400px;"><br>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum quia dolor ut ipsa vero rem exercitationem minus, 
    magnam mollitia, maiores illo omnis iste, ab dicta facere quasi numquam hic aut?
    </div>
    <div class="col-md-4 mt-5">
        <img src="../../assets/zanzibar 4.jfif" style="width: 100%;height: 400px;"><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ratione dolore, eaque placeat dolorem provident nobis molestiae consequatur deleniti 
        veniam vel sit aut cupiditate impedit dolor repellat, incidunt magnam vero.
    </div>
    </div>
