<div class="container mt-5">
   
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
        <th>Name</th>
        <th>Addres</th>
        <th>Total_number</th>
        <th>Date</th>
        <th>Action</th>
        </tr>
        
      </thead>
      <tbody>
  <tr>
        <td>1</td>
        <td>mwana</td>
        <td>fuoni</td>
        <td>4</td>
        <td>2-9-2020</td>
        <td><button class="btn btn-primary" >view</button>
       &nbsp;<button class="btn btn-success">update</button>&nbsp;
        <button class="btn btn-danger" >delete</button></td>
        </tr>
        
      </tbody>
    </table>
  </div><br>&nbsp;&nbsp;
  <a routerLink="/dash"><button class="btn btn-primary">back</button></a>
