<div class="container">
    <h3>Add Visitor</h3>

    <form>
        <div class="form-group">
            <label>Full-name</label>
            <input type="text" name="full-nama" id="name" class="form-control">

        </div>

        <div class="form-group">
            <label>Addres</label>
            <input type="text" name="address" id="name"class="form-control">

        </div>

        <div class="form-group">
            <label>Tolal-number</label>
            <input type="text" name="totalnumber" id="name"class="form-control">

        </div>

        <div class="form-group">
            <label>Date</label>
            <input type="date" name="date" id="name"  class="form-control">

        </div>
      <a routerLink="/table">  <button class="btn btn-primary mt-3 w-100">Submit</button></a>
    </form>
</div>
